main{
    /* height: 200%; */
    /* width: 1400px;
    margin: 0 auto; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./imgsCSS/the-ball-488713_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.clasificacion{
    padding: 10em 1.5em;
}
.contenido-clasificacion{
   display: flex;
   justify-content: center;

   border-top: 2px solid rgb(52, 134, 52);
   border-bottom: 2px solid rgb(52, 134, 52);
   padding-top: 1em;
   padding-bottom: 1em;
}
h3{
    text-align: center;
}