/* estilos estadísticas */
main{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./imgsCSS/the-ball-488713_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.estadisticas{
    padding: 10em 1.5em;
}
.contenido-estadisticas{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /*uso de la  propiedad flex-wrap para que los divs se posicionen en la siguiente fila cuando ocupen todo el ancho disponible*/

    border-top: 2px solid rgb(52, 134, 52);
    border-bottom: 2px solid rgb(52, 134, 52);
    padding-top: 1em;
    padding-bottom: 1em;
 }
 .estadisticas h3{
    text-align: center;
 }