/* Estilos sección noticias nacionales */
main{
    background-color: #f5f7f6;
}
.noticias-nacionales{
    padding: 10em 1.5em;
}
.contenido-noticias-nacionales .noticia2 img,/*ajuste de tamaño de imágenes de noticias 2 y 5*/
.contenido-noticias-nacionales .noticia5 img{
    height: 200px;
    width: 580px;
    margin-bottom: .5em;
}

.contenido-noticias-nacionales img{ 
    height: 180px;
    width: 280px;
}
.contenido-noticias-nacionales{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;/*la segunda columna ocupará 2 fracciones del ancho total disponible*/
    gap: 1em;
   

    border-top: 2px solid rgb(52, 134, 52);
    border-bottom: 2px solid rgb(52, 134, 52);
    padding-top: 1em;
    padding-bottom: 1em;
}
.contenido-noticias-nacionales .noticia{
    border: 1px solid rgb(52, 134, 52);
    border: 1px solid #08460d;
    background-color: #E9ECE8;

    /* uso de flex-box para centrar el contenido de los divs en forma de columna y alinearlos */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenido-noticias-nacionales p{
    font-weight: bold;
    padding: .5em;
}
.contenido-noticias-nacionales strong{
    color:#2e856f;
    font-weight: bold;
    font-size: 1.2em;
}
.contenido-noticias-nacionales .noticia4 img{
    margin-bottom: .5em;
}
.contenido-noticias-nacionales .noticia5 img{
    height: 280px;
}
.contenido-noticias-nacionales .noticia6 img{
    height: 280px;
}


